
<app-timeout-modal></app-timeout-modal>
<div class="row">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="#" class="navbar-brand">PV Personal Budget</a>
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" >
        <a href="/home" routerLinkActive="active" class="nav-link"  routerLink="home">Home </a>
      </li>
    </ul>

    @if (!isLoggedIn) {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/register" routerLinkActive="active" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" routerLinkActive="active" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    }
    @else {
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" >
          <app-header-usr-profile></app-header-usr-profile>
        </li>
        <li class="nav-item" >
          <a href="javascript:" class="pc-head-link bg-transparent" aria-label="LogOut" (click)="logout()"><i class="ti ti-power text-danger"></i></a>
        </li>
      </ul>
    }
  </nav>

</div>
