<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2> Expense  Planner</h2>
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Expense Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter expense name">
        </div>
        <div class="form-group">
          <label for="amount">Expense Amount</label>
          <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Enter expense amount">
        </div>
        <div class="form-group">
          <label for="expenseDate">Expense Date</label>
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
                formControlName="date"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="ti ti-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="expenseCategory">Expense Category</label>
          <select class="form-select" id="category" formControlName="category">
            <option selected>Choose...</option>
            @for (category of expenseCategory; track category.id) {
              <option value="{{category.ename}}">{{category.ename}}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" formControlName="city" id="city" placeholder="Enter city">
        </div>
        <div class = "form-group">
          <label for="state">Expense State</label>
          <select class="form-select" formControlName="state" id="state">
            <option selected>Choose...</option>
            @for (state of states; track state.id) {
              <option value="{{state.name}}">{{state.name}}</option>
            }
          </select>
        </div>
        <div class = "form-group">
          <label for="country">Country</label>
          <select class="form-select" id="country"  formControlName="country">
            <option selected>Choose...</option>
            <option value="1">USA</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


