
<nav class="vertical-navbar">
  <h1>year</h1>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      2024
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">2023</a></li>
      <li><a class="dropdown-item" href="#">2022</a></li>
      <li><a class="dropdown-item" href="#">2021</a></li>
      <li><a class="dropdown-item" href="#">2020</a></li>
      <li><a class="dropdown-item" href="#">2019</a></li>
    </ul>
  </div>
  <ul>
      <li>
          <a href="#">
              <span class="nav-text">Jan</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="nav-text">Feb</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="nav-text">Mar</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="nav-text">Apr</span>
          </a>
      </li>
      <li>
        <a href="#">
            <span class="nav-text">May</span>
        </a>
    </li>
    <li>
      <a href="#">
          <span class="nav-text">Jun</span>
      </a>
  </li>
  <li>
    <a href="#">
        <span class="nav-text">Jul</span>
    </a>
  </li>
  <li>
    <a href="#">
        <span class="nav-text">Aug</span>
    </a>
  </li>
  <li>
    <a href="#">
        <span class="nav-text">Sep</span>
    </a>
    </li>
    <li>
      <a href="#">
          <span class="nav-text">Oct</span>
      </a>
    </li>
    <li>
      <a href="#">
          <span class="nav-text">Nov</span>
      </a>
    </li>
    <li>
      <a href="#">
          <span class="nav-text">Dec</span>
      </a>
    </li>
  </ul>
</nav>



