<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #incomeForm="ngForm" (ngSubmit)="onSubmit(incomeForm)">
        <div class="form-group">
          <label for="incomeName">Income Name</label>
          <input type="text" class="form-control" id="incomeName" placeholder="Enter income name">
        </div>
        <div class="form-group">
          <label for="incomeAmount">Income Amount</label>
          <input type="number" class="form-control" id="incomeAmount" placeholder="Enter income amount">
        </div>
        <div class="form-group">
          <label for="incomeDate">Income Date</label>
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"

                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="incomeCategory">Income Category</label>
            <!-- <input type="text" class="form-control" id="incomeCategory">
             -->
          <select class="form-select" id="incomeCategory">
            for (let category of incomeCategories) {
            <option value="{{category.id}}">{{category.name}}</option>
            }
          </select>

        </div>

        <div class = "form-group">
          <label for="incomeState">Income State</label>
          <select class="form-select" id="incomeState">
            for (let state of states) {
            <option value="{{state.id}}">{{state.name}}</option>
            }
          </select>

        </div>


        <div class = "form-group">
          <label for="incomeCountry">Income Country</label>
          <select class="form-select" id="incomeCountry">
            <option selected>Choose...</option>
            <option value="1">USA</option>
          </select>
        </div>


        <div class="form-group">
          <label for="incomeDescription">Income Description</label>
          <textarea class="form-control" id="incomeDescription" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" cli>Submit</button>
      </form>
    </div>
  </div>
</div>
