<!-- Modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Session going to expire</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Current session is going to expire in {{display}} seconds, Do you want to extend the session?</p>
  
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('extendSession')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">No</button>
	</div>
</ng-template>
