<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Budget Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter budget name">
        </div>
        <div class="form-group">
          <label for="amount">Budget Amount</label>
          <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Enter Planned amount">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                formControlName="date"
                id="date"
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="ti ti-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Budget Category</label>
          <select class="form-select" id="category" formControlName="category">
            <option selected>Choose...</option>
            @for (category of budgetCategory; track category.id) {
              <option value="{{category.bname}}">{{category.bname}}</option>
            }
          </select>
        </div>
        <div class = "form-group">
          <label for="state">Planned State</label>
          <select class="form-select" formControlName="state" name="state" id="state">
            <option selected>Choose...</option>
            @for (state of states; track state.id) {
              <option value="{{state.name}}">{{state.name}}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" formControlName="city" id="city" placeholder="Enter Planned city">
        </div>
        <div class = "form-group">
          <label for="country">Budget Country</label>
          <select class="form-select" id="country"  formControlName="country">
            <option selected>Choose...</option>
            <option value="1">USA</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Budget Description</label>
          <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" >Update Budget</button>
        </div>
      </form>
    </div>
  </div>
</div>


