<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #budgetForm="ngForm" (ngSubmit)="onSubmit(budgetForm)">
        <div class="form-group">
          <label for="budgetName">Budget Name</label>
          <input type="text" class="form-control" id="budgetName" placeholder="Enter budget name">
        </div>
        <div class="form-group">
          <label for="budgetAmount">Budget Amount</label>
          <input type="number" class="form-control" id="budgetAmount" placeholder="Enter budget amount">
        </div>
        <div class="form-group">
          <label for="budgetDate">Budget Date</label>
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="ti ti-calendar"></i>      
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="budgetCategory">Budget Category</label>
          <select class="form-select" id="budgetCategory">
            <option selected>Choose...</option>
            @for (category of budgetCategory; track category.id) {
              <option value="{{category.id}}">{{category.bname}}</option>
            }
          </select>
        </div>
        <div class = "form-group">
          <label for="budgetState">Budget State</label>
          <select class="form-select" id="budgetState">
            <option selected>Choose...</option>
            @for (state of states; track state.id) {
              <option value="{{state.id}}">{{state.name}}</option>
            }
          </select>
        </div>
        <div class = "form-group">
          <label for="budgetCountry">Budget Country</label>
          <select class="form-select" id="budgetCountry">
            <option selected>Choose...</option>
            <option value="1">USA</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Update Budget</button>
        </div>
      </form>
    </div>
  </div>
</div>


