<div class="container p-0 m-0" tabindex="0">
  <header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">Welcome to</span>
            <span class="down">PVs Personal Budget Dashboard</span>
        </h1>
    </div>
</header><!-- end of page header -->
  <div class="card" aria-label="card">
    <div class="card-body">
      <h5 class="card-title">Personal Budget Dashboard</h5>
      <p class="card-text">A personal budget dashboard is an essential tool that presents your financial information in an easy-to-understand manner. It provides a visual representation of your income, expenses, and savings, allowing you to keep track of all your financial activities in one place. Moreover, it offers a comprehensive overview of your financial situation, including cash flow, spending habits, and investment portfolio performance. With this tool, you can confidently take control of your finances and achieve your financial goals.
      </p>
    </div>
  </div>
  <app-footer> </app-footer>
